@import url(https://fonts.bunny.net/css?family=figtree:500,800);

:root {
  /* DESIGN ELEMENTS */
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
  --font-size: 16px;
  --mobile-size: 375px;
  --desktop-size: 1440px;
  --font-family: 'Figtree', sans-serif;

  /* HEADER & FOOTER */
  --primary: var(--black);
  --secondary: var(--grey);
  --tertiary: var(--black);
}

body {
  font-family: var(--font-family);
  background-color: var(--yellow);
}
