---
import Image from 'astro/components/Image.astro';
import blogImg from '../assets/illustration-article.svg';
import authorImg from '../assets/image-avatar.webp';
---

<div class="card">
  <Image src={blogImg} alt="" height="200" class="blog-image" />
  <div class="info">
    <p class="category font-small bold">Learning</p>
    <p class="pubdate font-small">Published 21 Dec 2023</p>
    <h2 class="title font-large bold">HTML &amp; CSS foundations</h2>
    <p class="description font-medium">
      These languages are the backbone of every website, defining structure,
      content, and presentation.
    </p>
  </div>
  <div class="author">
    <Image src={authorImg} alt="" height="32" />
    <p class="author-name font-small bold">Greg Hooper</p>
  </div>
</div>

<style>
  .card {
    background-color: var(--white);
    border: 1px solid var(--black);
    filter: drop-shadow(0.5rem 0.5rem var(--black));
    border-radius: 1.25rem;
    min-width: 320px;
    max-width: 384px;
    padding: 1.5rem;
    transition: filter 0.2s ease-in;
  }
  .card:hover {
    filter: drop-shadow(1rem 1rem);
    .title {
      color: var(--yellow);
    }
  }
  .blog-image {
    border-radius: 0.625rem;
  }
  .title {
    transition: color 0.2s ease-in;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-block: 1.5rem;
  }
  .category {
    width: fit-content;
    padding: 0.25rem 0.75rem;
    background-color: var(--yellow);
    border-radius: 0.25rem;
  }
  .description {
    color: var(--grey);
  }
  .author {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
</style>
